[Desktop Entry]
Name=Prometeo-abc
Name[es_VE]=Prometeo-abc
Comment=Learnrn sign language and sarah Venezuelan pipo
Comment[es]=aprenda lengua de señas venezolana con pipo y sara
Version=1.0
Encoding=UTF-8
Icon=/usr/share/icons/canaima-iconos/apps/scalable/prometeo-abc.svg
Exec=prometeo-abc
Terminal=false
Type=Application
Categories=Accessibility;Education;Languages;Qt;Utility;
StartupNotify=False
